{% extends "base.twig" %}

{% block content %}
mobile
	<p>{{qux}}</p>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include 'sidebar.twig' %}
{% endblock %}
